<a href="https://colab.research.google.com/github/diego-sc11/Probabilidad/blob/main/Unidad1/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y estadistica
## Unidad 1
#**Practica 3: Tabla de frecuencias**
### Facilitador: Jose Gabriel Rodriguez Rivas
### Alumno: Diego Rodriguez Rochin

In [ ]:

#creamos una lista vacia que representa la edad de 100 personas
import random
edades = []
#Hacemos un ciclo para generar 100 numeros aleatoreos que representen la edad de las personas
for i in range (100):
  # generamos un numero aleatorio con la con la funcion randint y lo guardamos en la vaiable
  # numero aleatorio
  numero_aleatorio = random.randint(18,70)
  # Agregamos el numero aleatorio a la lista de variables
  edades.append(numero_aleatorio)
print(edades)

[31, 60, 28, 47, 23, 53, 47, 45, 63, 35, 54, 35, 68, 28, 46, 49, 24, 57, 45, 26, 50, 51, 18, 46, 37, 39, 66, 18, 49, 69, 36, 19, 30, 62, 31, 31, 38, 43, 62, 66, 21, 38, 43, 31, 59, 38, 53, 18, 24, 37, 44, 23, 24, 20, 44, 69, 18, 55, 40, 21, 58, 19, 37, 43, 70, 22, 40, 47, 36, 67, 54, 45, 28, 55, 68, 65, 35, 70, 57, 28, 44, 52, 39, 30, 61, 20, 50, 55, 66, 49, 24, 21, 35, 45, 42, 42, 54, 31, 61, 32]

In [ ]:
import pandas as pd
# Crear un Dataframe de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    31
1    60
2    28
3    47
4    23

In [ ]:
# Calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by='Edad')
print("tabla de distribucion de frecuencias: ")
tabla_frecuencias

tabla de distribucion de frecuencias:

    Edad  Frecuencia
4     18           4
25    19           2
21    20           2
14    21           3
39    22           1
16    23           2
5     24           4
36    26           1
1     28           4
31    30           2
0     31           5
43    32           1
2     35           4
24    36           2
9     37           3
11    38           3
23    39           2
28    40           2
20    42           2
15    43           3
13    44           3
3     45           4
19    46           2
7     47           3
8     49           3
26    50           2
35    51           1
42    52           1
18    53           2
6     54           3
12    55           3
27    57           2
38    58           1
37    59           1
33    60           1
32    61           2
30    62           2
34    63           1
40    65           1
10    66           3
41    67           1
17    68           2
22    69           2
29    70           2

In [ ]:
tabla_frecuencias['Frec relativa'] = tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frec relativa
4     18           4           0.04
25    19           2           0.02
21    20           2           0.02
14    21           3           0.03
39    22           1           0.01
16    23           2           0.02
5     24           4           0.04
36    26           1           0.01
1     28           4           0.04
31    30           2           0.02
0     31           5           0.05
43    32           1           0.01
2     35           4           0.04
24    36           2           0.02
9     37           3           0.03
11    38           3           0.03
23    39           2           0.02
28    40           2           0.02
20    42           2           0.02
15    43           3           0.03
13    44           3           0.03
3     45           4           0.04
19    46           2           0.02
7     47           3           0.03
8     49           3           0.03
26    50           2           0.02
35    51           1           0.01
42    52           1           0.01
18    53           2           0.02
6     54           3           0.03
12    55           3           0.03
27    57           2           0.02
38    58           1           0.01
37    59           1           0.01
33    60           1           0.01
32    61           2           0.02
30    62           2           0.02
34    63           1           0.01
40    65           1           0.01
10    66           3           0.03
41    67           1           0.01
17    68           2           0.02
22    69           2           0.02
29    70           2           0.02

In [ ]:
tabla_frecuencias['Frec Porcenual'] = tabla_frecuencias['Frecuencia']/100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frec relativa  Frec Porcenual
4     18           4           0.04             4.0
25    19           2           0.02             2.0
21    20           2           0.02             2.0
14    21           3           0.03             3.0
39    22           1           0.01             1.0
16    23           2           0.02             2.0
5     24           4           0.04             4.0
36    26           1           0.01             1.0
1     28           4           0.04             4.0
31    30           2           0.02             2.0
0     31           5           0.05             5.0
43    32           1           0.01             1.0
2     35           4           0.04             4.0
24    36           2           0.02             2.0
9     37           3           0.03             3.0
11    38           3           0.03             3.0
23    39           2           0.02             2.0
28    40           2           0.02             2.0
20    42           2           0.02             2.0
15    43           3           0.03             3.0
13    44           3           0.03             3.0
3     45           4           0.04             4.0
19    46           2           0.02             2.0
7     47           3           0.03             3.0
8     49           3           0.03             3.0
26    50           2           0.02             2.0
35    51           1           0.01             1.0
42    52           1           0.01             1.0
18    53           2           0.02             2.0
6     54           3           0.03             3.0
12    55           3           0.03             3.0
27    57           2           0.02             2.0
38    58           1           0.01             1.0
37    59           1           0.01             1.0
33    60           1           0.01             1.0
32    61           2           0.02             2.0
30    62           2           0.02             2.0
34    63           1           0.01             1.0
40    65           1           0.01             1.0
10    66           3           0.03             3.0
41    67           1           0.01             1.0
17    68           2           0.02             2.0
22    69           2           0.02             2.0
29    70           2           0.02             2.0

In [ ]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec relativa  Frec Porcenual  Frec Acumulada
4     18           4           0.04             4.0               4
25    19           2           0.02             2.0               6
21    20           2           0.02             2.0               8
14    21           3           0.03             3.0              11
39    22           1           0.01             1.0              12
16    23           2           0.02             2.0              14
5     24           4           0.04             4.0              18
36    26           1           0.01             1.0              19
1     28           4           0.04             4.0              23
31    30           2           0.02             2.0              25
0     31           5           0.05             5.0              30
43    32           1           0.01             1.0              31
2     35           4           0.04             4.0              35
24    36           2           0.02             2.0              37
9     37           3           0.03             3.0              40
11    38           3           0.03             3.0              43
23    39           2           0.02             2.0              45
28    40           2           0.02             2.0              47
20    42           2           0.02             2.0              49
15    43           3           0.03             3.0              52
13    44           3           0.03             3.0              55
3     45           4           0.04             4.0              59
19    46           2           0.02             2.0              61
7     47           3           0.03             3.0              64
8     49           3           0.03             3.0              67
26    50           2           0.02             2.0              69
35    51           1           0.01             1.0              70
42    52           1           0.01             1.0              71
18    53           2           0.02             2.0              73
6     54           3           0.03             3.0              76
12    55           3           0.03             3.0              79
27    57           2           0.02             2.0              81
38    58           1           0.01             1.0              82
37    59           1           0.01             1.0              83
33    60           1           0.01             1.0              84
32    61           2           0.02             2.0              86
30    62           2           0.02             2.0              88
34    63           1           0.01             1.0              89
40    65           1           0.01             1.0              90
10    66           3           0.03             3.0              93
41    67           1           0.01             1.0              94
17    68           2           0.02             2.0              96
22    69           2           0.02             2.0              98
29    70           2           0.02             2.0             100